/* Warna latar belakang */
body {
  background: #f8f9fa;
  margin: 0;
}

/* Heading besar */
h2 {
  margin-top: 20px;
  font-weight: bold;
}

/* Kartu dashboard */
.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

/* Iframe Tableau */
iframe {
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  border: none;
}

/* Footer bawah */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
}
